*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.spl
*.nav
*.synctex.gz
*.bak
*.backup
*~
*.ps
*.pdf
*.snm
*.vrb
*.class
*.war

.project
.classpath
.settings
.idea
*.iml
target/
.factorypath
